/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@import "tailwindcss";


html{
 /* background-image: linear-gradient(gray 1px, transparent 1px),
                   linear-gradient(90deg, gray 1px, transparent 1px);
 background-size: 80px , 80px; */
 /* border: 2px solid red;
 height: 100%;
 position: relative; */
 /* height: 100vh; */
  scroll-behavior: smooth;

}

/* @theme {
  extend: {
    backgroundImage: {
      grid: `
        linear-gradient(gray 1px, transparent 1px),
        linear-gradient(90deg, gray 1px, transparent 1px)
      `,
    },
  },
} */